* {
    margin: 0;
    padding: 0;
}
body {
    max-width: 95vw;
    max-height: 95vh;
    overflow: hidden;
}
.snake {
    top: 0px;
    left: 0px;
    width: 10%;
}

.mouse {
    top: 20px;
    left: 20px;
    width: 7%;
}