* {
    margin: 0;
    padding: 0;
}
/* body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
} */
.snake {
    top: 0px;
    left: 0px;
    /* width: 10%; */
}

.mouse {
    top: 20px;
    left: 20px;
    /* width: 7%; */
}
canvas {
    margin: 0;
    padding: 0;
}