* {
    margin: 0;
    padding: 0;
}
body {
    max-width: 95vw;
    max-height: 95vh;
    overflow: hidden;
}
#scoreboard {
    border: 3px solid white;
    width: 50px;
    border-radius: 5px;
    text-align: center;
    height: 40px;
    position: absolute;
    top: 87.5%;
    left: 5.5%;
}
#score {
    font-size: 38px;
    font-family: 'Press Start 2P', cursive;
    color: white;
    position: relative;
    top: 3px;
}
#snake {
    transition: all 0.1s ease-out;
}
#food {
    display: inline;
}
.snake {
    width: 10%;
}

.mouse {
    width: 70px;
}
#container {
    width: 90vw;
    height: 90vh;
    background-image: url(img/grassbg.png);
    margin-top: 5vh;
    margin-left: 5vw;
}
#squeek {
    width: 70px;
    position: absolute;
    top: -35px;
    transition: 3s ease;
    display: none;
}
.items {
    top: -2.1%;
    position: absolute;
}